.searchResult {
    width: 100%;
    overflow: auto;
}

.searchResult h2 {
    font-size: 202px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin: 0;
    text-align: center;
}

.searchResult .inlineTest {
    width: 48%;
    margin-bottom: 7px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.searchResult .inlineTest b {
    word-break: initial;
}

.fragtMsg {
    font-size: 110px;
}
.fragtMsg .fa {
    font-size: 155px;
    padding-right: 20px;
}

.resultContainer {
    width: 90%;
    border: 1px solid #dede3fbf;
    background-color: #ffffc4;
    border-radius: 10px;
    padding: 10px;
}
.infoContainer .inlineTest {
    font-size: 60px;
}
.infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resultContainer.error {
    border: 1px solid #de3f3fbf;
    background-color: #ffc4c4;
}

#root {
    cursor: none;
}