.searchResult {
    
    width: 100%;
    overflow: auto;
}

.searchResult h2 {
    font-size: 82px;
    padding-top: 0px;
    margin: 0;
}

.searchResult .inlineTest {
    width: 48%;
    margin-bottom: 7px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.fragtMsg {
    font-size: 50px;
}
.fragtMsg .fa {
    font-size: 65px;
    padding-right: 10px;
}

.resultContainer {
    width: 90%;
    border: 1px solid #dede3fbf;
    background-color: #ffffc4;
    border-radius: 10px;
    padding: 10px;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}