.searchResult {
    background-color: #ffffc4;
    padding: 50px 90px;
    border-radius: 10px;
    width: 40vw;
    border: 1px solid #dede3fbf;
    overflow: auto;
}

.searchResult h2 {
    padding-top: 0px;
    margin-top: 0px;
}

.searchResult .inlineTest {
    float: left;
    margin-right: 1%;
    width: 49%;
    margin-bottom: 7px;
}

.fragtMsg {
    font-size: 20px;
}
.fragtMsg .fa {
    font-size: 25px;
}