.barcodeContainer {
    border: 1px dashed;
    border-radius: 9px;
    padding: 10px;
    font-size: 100px;
    text-align: center;
    width: 60%;
}

.barcodeContainer .barcodeHelperText {
    font-size: 18px;
    padding-bottom: 20px;
}

.fragtMsg .iconCircle {
    font-size: 20px;
    color: #d61414;
    padding: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-vh {
    min-height: 100vh;
}

form.searchInput {
    position: absolute;
    top: 0px;
}

form.searchInput input {
    padding: 5px;
}

.version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
}

.centerMsg {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerMsg img {
    height: 30px;
}

.settings {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 20px;
}

.settings .fa-cog {
    opacity: 0.3;
}

.settingsMenu {
    position: absolute;
    background-color: #e0e0e0cf;
    width: 30%;
    min-height: 30%;
    padding: 30px;
    text-align: center;
}

.settingsMenu button {
    padding: 15px;
    width: 100%;
    margin: 10px 0px;
}

.keyboard button.fourth {
    width: 22%;
}

.keyboard button {
    width: 33%;
    height: 25%;
    float: left;
}

.keyboard {
    position: absolute;
    width: 70%;
    height: 50%;
}

.keyboard button.halfBtn {
    width: 50%;
}